
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN PAGE</title>
</head>
<body >
    <div style="text-align:center;">
    <h1>create an Account</h1>
    <p>it is a social account</p>
    <p>it's quick and easy.</p>
    <form>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="" placeholder="Enter Your FirstName"><br><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="" placeholder="Enter Your LastName"><br><br>
        <input type="number" name="mobilno" placeholder="enter ur mobile number"><br>
        <label for="birthday">Birthday:</label><br>
         <input type="date" id="birthday" name="birthday"><br>
        <label>select gender:</label> <br/>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>
        <input type="radio" id="other" name="gender" value="other">
        <label for="other">Other</label><br>
        <input type="submit" value="signup"><br>
        <input type="reset" value="clear">
    </form>
</div>
</body>
</html>